@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap');

body{
  margin: 0;
  background-color: hsl(247,38%,5%);
  color:  hsl(166,43%,57%);
  text-shadow: 4px 1px hsl(332,76%,61%);
  width: 100vw;
  height: 100vh;
}

#root{
  width: 100%;
  height: 100%;
}